<ul class="uk-breadcrumb uk-margin-top">
    <li><a href="/">Mis cursos</a></li>
    <li><a href="/course/{{ course.id }}">{{ course.nombre }}</a></li>
    <li class="uk-active"><span>{{ topic.titulo }}</span></li>
</ul>
<h1>{{ topic.titulo }} <a href="/admin/topic/{{ topic.id }}" class="uk-button uk-button-small uk-button-primary uk-margin-left" ng-show="identity.isAuthorized(1) || identity.isAuthorized(2)"><i class="uk-icon-edit"></i> Editar tópico</a> <a class="uk-button uk-button-small uk-button-primary uk-margin-left" ng-show="identity.isAuthorized(3)" ng-click="openModalFeedback()"><i class="uk-icon-edit"></i> Feedback</a></h1>
<p>A continuación se muestran listados los materiales del tópico</p>
<p class="uk-text-danger" ng-show="topic.materials.error">{{ topic.materials.error.message }}</p>

<div ng-show="!topic.materials.error">
    <div ng-show="identity.isAuthorized(1) || identity.isAuthorized(2)">
        <ul id="my-id" class="uk-subnav uk-subnav-pill">
            <li data-uk-sort="posiciona"><a href="#">Divergente</a></li>
            <li data-uk-sort="posicionb"><a href="#">Asimilador</a></li>
            <li data-uk-sort="posicionc"><a href="#">Adaptador</a></li>
            <li data-uk-sort="posiciond"><a href="#">Convergente</a></li>
        </ul>


        <div class="uk-grid" data-uk-grid="{gutter: 20, controls: '#my-id'}">
            <div class="uk-width-medium-1-3" ng-repeat="material in topic.materials" data-posiciona="{{ material.posicionA }}" data-posicionb="{{ material.posicionB }}" data-posicionc="{{ material.posicionC }}" data-posiciond="{{ material.posicionD }}">
                <div class="uk-panel-box">
                    <div class="uk-float-right uk-text-large" ng-show="material.tipo == 'image'"><a ng-click="viewMaterial('image', '/files/'+material.archivo, material.id)"><i class="uk-icon-file-image-o"></i></a></div>
                    <div class="uk-float-right uk-text-large" ng-show="material.tipo == 'pdf'"><a ng-click="viewMaterial('pdf', '/pdf/'+material.archivo, material.id)"><i class="uk-icon-file-pdf-o"></i></a></div>
                    <div class="uk-float-right uk-text-large" ng-show="material.tipo == 'video'"><a ng-click="viewMaterial('video', '/files/'+material.archivo, material.id)"><i class="uk-icon-file-video-o"></i></a></div>
                    <h3 class="uk-panel-title">{{ material.titulo }}</h3>
                    <p>{{ material.descripcion }}</p>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="identity.isAuthorized(3)">
        <div class="uk-grid" data-uk-grid="{gutter: 20}">
            <div class="uk-width-medium-1-3" ng-repeat="material in topic.materials | orderBy:tipoAprendizaje">
                <div class="uk-panel-box">
                    <div class="uk-float-right uk-text-large" ng-show="material.tipo == 'image'"><a ng-click="viewMaterial('image', '/files/'+material.archivo, material.id)"><i class="uk-icon-file-image-o"></i></a></div>
                    <div class="uk-float-right uk-text-large" ng-show="material.tipo == 'pdf'"><a ng-click="viewMaterial('pdf', '/pdf/'+material.archivo, material.id)"><i class="uk-icon-file-pdf-o"></i></a></div>
                    <div class="uk-float-right uk-text-large" ng-show="material.tipo == 'video'"><a ng-click="viewMaterial('video', '/files/'+material.archivo, material.id)"><i class="uk-icon-file-video-o"></i></a></div>
                    <h3 class="uk-panel-title">{{ material.titulo }}</h3>
                    <p>{{ material.descripcion }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-id" class="uk-modal">
    <div class="uk-modal-dialog uk-modal-dialog-large">
        <div class="uk-grid uk-container">
            <div id="content" class="uk-width-medium-3-4 uk-width-small-1-1 uk-text-center uk-border-rounded"></div>
            <div class="uk-width-medium-1-4 uk-width-small-1-1">
                <h3><i class="uk-icon-comment"></i> Comentarios</h3>
                <div style="min-height:390px; max-height: 390px; border:none; overflow-y: scroll" class="comments uk-margin-bottom">
                    <div ng-repeat="comment in comments">
                        <h5 class="uk-margin-small-bottom">{{comment.fecha_hora | date}}</h5>
                        <p class="uk-margin-small-bottom uk-margin-small-top">{{ comment.comentario }}</p>
                        <hr class="uk-grid-divider uk-margin-top">
                    </div>
                </div>
                <form ng-show="identity.isAuthorized(3)" class="uk-form uk-form-horizontal" name="commentForm">

                    <h5 class="uk-margin-bottom-remove">Ingresar Comentario</h5>
                    <textarea style="max-height: 60px" class="uk-width-1-1 comment" id="comment" name="comment" ng-model="comment" required></textarea>

                    <div class="uk-form-row">
                        <button class="uk-button uk-button-primary uk-button-small uk-margin-small-top uk-margin-bottom" ng-click="sendComment()" ng-disabled="commentForm.$invalid">Enviar</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<div id="modal-feedback" class="uk-modal">
    <div class="uk-modal-dialog uk-modal-dialog-large">
        <a class="uk-modal-close uk-close"></a>
        <div class="uk-modal-header">
            <h2>Recomendar orden de materiales</h2>
        </div>
        <p>Arrastra los materiales para editar el orden de estos</p>
        <ul class="uk-sortable uk-grid uk-grid-small uk-grid-width-1-4 uk-margin-large-bottom" data-uk-sortable="{handleClass:'uk-panel'}">
            <li data-id="{{ material.id }}" class="uk-grid-margin" ng-repeat="material in topic.materials | orderBy:tipoAprendizaje">
                <div class="uk-panel uk-panel-box">
                    {{ material.titulo }}
                </div>
            </li>
        </ul>
        <div class="uk-modal-footer uk-text-right">
            <a ng-click="cancelFeedback()" class="uk-button ">Cancelar</a>
            <a ng-click="sendFeedback()" class="uk-button uk-button-primary">Enviar</a>
        </div>
    </div>
</div>