<div class="uk-container uk-margin-large-top">
    <div class="uk-container-center uk-width-small-1-1 uk-width-medium-4-5">

        <div class="uk-text-center">
            <img width="140" height="120" src="/img/logo-usm.png" alt="">
            <h2 class="uk-text-center" style="margin-top: 0px">CAEA</h2>
        </div>

        <ul class="uk-tab" data-uk-tab="{connect:'#register-content'}">
            <li class="uk-active"><a href="">Registrarse como estudiante</a></li>
        </ul>

        <ul id="register-content" class="uk-switcher">
            <li>
                <div ng-include="'views/account/includes/student-register.html'"></div>
            </li>
        </ul>

    </div>
</div>