<nav class="uk-navbar uk-margin-bottom uk-hidden-small">
    <a class="uk-navbar-brand" href="#"><%= title %></a>
    <ul class="uk-navbar-nav">
        <li>
            <a href="#/">Mis Ramos</a>
        </li>
    </ul>
    <div class="uk-navbar-flip">
        <ul class="uk-navbar-nav">
            <div class="uk-navbar-content">
                Bienvenido <b id="session-username"><%= username %></b>
            </div>
            <li>
                <a href="/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>
