<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <% include partials/head %>
    </head>
    <body ng-app="caeaAuth">
        <div ng-view>

        </div>
        <% include partials/footer %>
        <script src="/javascripts/caeaAuth.js"></script>
    </body>
</html>
