<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include partials/head %>
  </head>
  <body ng-app="caeaMain">
    <div class="uk-container uk-container-center uk-margin-top">
      <nav class="uk-navbar uk-margin-bottom uk-hidden-small">
        <a class="uk-navbar-brand" href="#"><%= title %></a>
        <ul class="uk-navbar-nav">
          <li class="uk-active">
            <a class="uk-navbar-nav-subtitle" href="#/">
              Frontpage
              <div>the frontpage</div>
            </a>
          </li>
          <li>
            <a href="#about">About</a>
          </li>
          <li>
            <a href="/logout">Logout</a>
          </li>
        </ul>
      </nav>

      <div ng-view>

      </div>

    </div>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <% include partials/footer %>
    <script src="/javascripts/caeaMain.js"></script>
  </body>
</html>
