@import url("https://fonts.googleapis.com/css?family=Raleway");
.caea-title {
  font-family: 'Raleway', sans-serif;
  padding-left: 10px;
  border-left: 3px solid #1fa2d6;
}
body {
  padding-bottom: 40px;
  font-family: 'Raleway', sans-serif;
}
.uk-block {
  margin-bottom: 20px;
}
.toast-top-right {
  top: 70px;
}
.toast-success {
  background-color: #13987e;
}
a:hover {
  text-decoration: none;
}
.uk-panel-box-cursos {
  background: #f4ffea;
  color: #579a16;
  border-color: rgba(62,109,17,0.3);
}
.uk-panel-box-cursos .uk-panel-title {
  color: #579a16;
}
.uk-panel-box-materiales {
  background-color: #ffeaea;
  color: #9a1616;
  border-color: rgba(109,17,17,0.3);
}
.uk-panel-box-materiales .uk-panel-title {
  color: #9a1616;
}
.admin-sidenav {
  border-right: 1px solid #e5e5e5;
}
.uk-dotnav .uk-active * {
  background: rgba(50,50,50,0.4);
  -webkit-transform: scale(1.3);
  transform: scale(1.1);
}
