<ul class="uk-breadcrumb uk-margin-top">
    <li><a href="/">Mis cursos</a></li>
    <li>{{ course.nombre }}</li>
</ul>
<h1>{{ course.nombre }} <a href="/admin/course/{{ course.id }}" class="uk-button uk-button-small uk-button-primary uk-margin-left" ng-show="identity.isAuthorized(1) || identity.isAuthorized(2)"><i class="uk-icon-edit"></i> Editar curso</a></h1>
<p>A continuación se muestran listadas las unidades del curso</p>
<table class="uk-table uk-table-striped">
    <tbody>
    <tr ng-repeat="topic in course.topics">
        <td><a href="/course/{{ course.id }}/topic/{{ topic.id }}">{{ topic.titulo }}</a></td>
    </tr>
    </tbody>
</table>