<div class="uk-container uk-container-center uk-margin-large-top uk-margin-large-bottom">
    <div class="uk-width-medium-3-4 uk-container-center">
        <h2>Formulario de registro</h2>
        <div class="uk-panel uk-panel-box margin-bottom">
            <h2>Datos Personales</h2>
            <form class="uk-form uk-form-horizontal">
                <div class="uk-form-row">
                    <label class="uk-form-label" for="form-nombre">Nombre</label>
                    <div class="uk-form-controls">
                        <input type="text" id="form-nombre" placeholder="Nombre" required>
                    </div>
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label" for="form-password">Password</label>
                    <div class="uk-form-controls">
                        <input  type="password" id="form-password" placeholder="Password">
                    </div>
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label" for="form-mail">Mail</label>
                    <div class="uk-form-controls">
                        <input  type="text" id="form-mail" placeholder="nombre.apellido">
                        <select id="select-mail">
                            <option>@usm.cl</option>
                            <option>@sansano.usm.cl</option>
                            <option>@alumnos.usm.cl</option>
                        </select>
                    </div>
                </div>
                <button class="uk-button uk-button-primary uk-margin-top" type="submit">Registrarse</button>
            </form>
        </div>
        <div class="uk-panel uk-panel-box" style="margin-top:20px;">
            <h2>Encuesta</h2>
            <h3>Instrucciones</h3>
            <p class="uk-text-justify">
                En la siguiente encuesta se te pide que completes 12 frases. Cada frase puede terminarse de cuatro formas distintas.
                Ordena las cuatro opciones de cada frase según pienses que se ajustan a tu manera de aprender algo nuevo, tal vez en
                tu trabajo. Trata de pensar en situaciones recientes en las que te enfrentaste con algo nuevo. Numera con un 4 la
                terminación que más se ajuste a tu forma de aprender y con un 1 la que peor se ajuste. Asegúrate de asignar un número a todas las terminaciones de cada una de las 12 frases.
            </p>
            <p>
                <strong>RECUERDE:</strong>
            </p>
            <p class="margin-left">4 = Lo que más se parece a ti <br> 3 = Lo segundo que más se parece a ti <br> 2 = Lo tercero que más se parece a ti <br>
            1 = Lo que menos se parece a ti</p>

            <hr>
            <h3>Preguntas</h3>
            <div class="uk-form uk-form-horizontal">
                <div class="uk-form-row">
                    <label class="uk-form-label"><strong>1. Cuando aprendo..</strong></label>
                    <div class="uk-form-controls">
                        <div class="EC">
                            <select>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                            me gusta vivir sensaciones
                        </div>
                        <div class="OR">
                            <select>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                            me gusta pensar sobre ideas
                        </div>
                        <div class="CA">
                            <select>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                            me gusta estar haciendo cosas
                        </div>
                        <div class="EA">
                            <select>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                            me gusta observar y escuchar
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="uk-button uk-button-primary uk-margin-top" type="submit">Registrarse</button>
    </div>

</div>
