<div class="uk-block uk-block-muted">
    <div class="uk-container">
        <h1>Contenido Adaptable al Estilo de Aprendizaje</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tristique nulla ultricies erat ullamcorper aliquet. Sed sollicitudin porttitor mollis. Sed non rutrum ipsum. Curabitur imperdiet diam sit amet hendrerit tempor. Vestibulum dictum lacinia facilisis. Sed non laoreet orci. </p>
    </div>
</div>

<div class="uk-grid">
    <div class="uk-width-1-2">
        <div ng-include="'views/main/includes/featured-courses.html'"></div>
    </div>
    <div class="uk-width-1-2">
        <div ng-include="'views/main/includes/new-courses.html'"></div>
    </div>
</div>