<div ng-controller="caeaHeaderCtrl" ng-hide="!identity.isAuthenticated() || isActive('/404')">
    <img src="/img/header-usm.png" alt="CAEA" class="uk-margin-bottom">
    <nav class="uk-navbar uk-margin-bottom">
        <ul class="uk-navbar-nav uk-hidden-small">
            <li ng-class="{ 'uk-active': isActive('/')}" ng-show="identity.isAuthorized('user')">
                <a href="/" class="uk-navbar-nav-subtitle">
                    Mis Cursos
                    <div>Cursos inscritos</div>
                </a>
            </li>
            <li ng-class="{ 'uk-active': isActive('/') }" ng-show="identity.isAuthorized('admin')">
                <a style="border-top-left-radius: 4px; border-bottom-left-radius: 4px" href="/">Inicio</a>
            </li>
            <li ng-class="{'uk-active': $route.current.parent == 'admin'}" ng-show="identity.isAuthorized('admin')">
                <a href="/admin">Administración</a>
            </li>
        </ul>

        <a class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas="{mode:'slide'}" ng-click="showOffCanvas()"></a>

        <div ng-include="'views/account/includes/navbar-login.html'"></div>
    </nav>

    <div id="off-canvas" class="uk-offcanvas">
        <div class="uk-offcanvas-bar">
            <ul class="uk-nav uk-nav-offcanvas">
                <li ng-class="{ 'uk-active': isActive('/')}" ng-show="identity.isAuthorized('user')">
                    <a href="/">Mis cursos</a>
                </li>
                <li ng-class="{ 'uk-active': isActive('/')}" ng-show="identity.isAuthorized('admin')">
                    <a href="/">Inicio</a>
                </li>
                <li ng-class="{'uk-active': $route.current.parent == 'admin'}" ng-show="identity.isAuthorized('admin')">
                    <a href="/admin">Administracion</a>
                </li>
            </ul>
        </div>
    </div>
</div>
